@import '../../styles/variables';

@mixin lds-default-animation ($delay, $left, $top) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
  left: $left;
  top: $top;
}

@mixin sesnestzarezosam () {
  width: 16.8px;
  height: 16.8px;
  background: $white;
}

@mixin dvadesetosamzarezosam () {
  width: 28px;
  height: 28px;
  background: $white;
}

.lds-default {
  position: relative;
}

.lds-css{
  width: 200px;
  height: 200px;
  margin: auto;
  transform: scale(0.4);
  padding-top: 120px;
}

.lds-css-first{
  width: 200px;
  height: 200px;
  margin: auto;
  transform: scale(0.6);
}

.lds-default div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: lds-default 1s linear infinite;
  animation: lds-default 1s linear infinite;
  border-radius: 50%;
}

.lds-default div:nth-child(1) {
  @include lds-default-animation (-0.917s,  170px, 100px);
}

.lds-default div:nth-child(2) {
  @include lds-default-animation (-0.833s, 160.622px, 135px);
}

.lds-default div:nth-child(3) {
  @include lds-default-animation (-0.75s, 135px, 160.622px);
}

.lds-default div:nth-child(4) {
  @include lds-default-animation (-0.667s, 100px, 170px);
}

.lds-default div:nth-child(5) {
  @include lds-default-animation (-0.583s, 65px, 160.622px);
}

.lds-default div:nth-child(6) {
  @include lds-default-animation (-0.5s, 39.378px, 135px);
}

.lds-default div:nth-child(7) {
  @include lds-default-animation (-0.417s, 30px, 100px);
}

.lds-default div:nth-child(8) {
  @include lds-default-animation (-0.333s, 39.378px, 65px);
}

.lds-default div:nth-child(9) {
  @include lds-default-animation (-0.25s, 65px, 39.378px);
}

.lds-default div:nth-child(10) {
  @include lds-default-animation (-0.167s, 100px, 30px);
}

.lds-default div:nth-child(11) {
  @include lds-default-animation (-0.083s, 135px, 39.378px);
}

.lds-default div:nth-child(12) {
  @include lds-default-animation (0s, 160.622px, 65px);
}

.loader-frame {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.loader-background {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
}

.loading-message{
  position: absolute;
  bottom: 0vw;
  color: $white;
  width: 295px;
  font-size: 19px;
  right: -48px;
  text-transform: uppercase;
}

.fade-in-opacity {
  animation: fade-in-opacity-animation 1s;
}

@keyframes fade-in-opacity-animation {
  from { opacity:0 }
  to { opacity:1 }
}

@-webkit-keyframes lds-default {
  0% {
    @include sesnestzarezosam;
  }
  25% {
    @include sesnestzarezosam;
  }
  50% {
    @include dvadesetosamzarezosam;
  }
  75% {
    @include sesnestzarezosam;
  }
  100% {
    @include sesnestzarezosam;
  }
}
@keyframes lds-default {
  0% {
    @include sesnestzarezosam;
  }
  25% {
    @include sesnestzarezosam;
  }
  50% {
    @include dvadesetosamzarezosam;
  }
  75% {
    @include sesnestzarezosam;
  }
  100% {
    @include sesnestzarezosam;
  }
}