@import '../../styles/variables';

.lds-default {
  position: relative;
}

.lds-css{
  width: 200px;
  height: 200px;
  margin: auto;
  transform: scale(0.4);
  padding-top: 120px;
}

.lds-css-first{
  width: 200px;
  height: 200px;
  margin: auto;
  transform: scale(0.6);
}

.lds-default div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: lds-default 1s linear infinite;
  animation: lds-default 1s linear infinite;
  border-radius: 50%;
}

.lds-default div:nth-child(1) {
  -webkit-animation-delay: -0.917s;
  animation-delay: -0.917s;
  left: 170px;
  top: 100px;
}

.lds-default div:nth-child(2) {
  -webkit-animation-delay: -0.833s;
  animation-delay: -0.833s;
  left: 160.622px;
  top: 135px;
}

.lds-default div:nth-child(3) {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
  left: 135px;
  top: 160.622px;
}

.lds-default div:nth-child(4) {
  -webkit-animation-delay: -0.667s;
  animation-delay: -0.667s;
  left: 100px;
  top: 170px;
}

.lds-default div:nth-child(5) {
  -webkit-animation-delay: -0.583s;
  animation-delay: -0.583s;
  left: 65px;
  top: 160.622px;
}

.lds-default div:nth-child(6) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  left: 39.378px;
  top: 135px;
}

.lds-default div:nth-child(7) {
  -webkit-animation-delay: -0.417s;
  animation-delay: -0.417s;
  left: 30px;
  top: 100px;
}

.lds-default div:nth-child(8) {
  -webkit-animation-delay: -0.333s;
  animation-delay: -0.333s;
  left: 39.378px;
  top: 65px;
}

.lds-default div:nth-child(9) {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
  left: 65px;
  top: 39.378px;
}

.lds-default div:nth-child(10) {
  -webkit-animation-delay: -0.167s;
  animation-delay: -0.167s;
  left: 100px;
  top: 30px;
}

.lds-default div:nth-child(11) {
  -webkit-animation-delay: -0.083s;
  animation-delay: -0.083s;
  left: 135px;
  top: 39.378px;
}

.lds-default div:nth-child(12) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  left: 160.622px;
  top: 65px;
}

.loader-frame {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.loader-background {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
}

.loading-message{
  position: absolute;
  bottom: 0vw;
  width: 295px;
  font-size: 19px;
  right: -48px;
  text-transform: uppercase;
}

.fade-in-opacity {
  animation: fade-in-opacity-animation 1s;
}

@keyframes fade-in-opacity-animation {
  from { opacity:0 }
  to { opacity:1 }
}

@-webkit-keyframes lds-default {
  0% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
  25% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
  50% {
    width: 28px;
    height: 28px;
    background: $white;
  }
  75% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
  100% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
}
@keyframes lds-default {
  0% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
  25% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
  50% {
    width: 28px;
    height: 28px;
    background: $white;
  }
  75% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
  100% {
    width: 16.8px;
    height: 16.8px;
    background: $white;
  }
}