.o-nama-p{
    line-height: 28px;
    font-size: 17px;
    color: grey;
    margin-bottom: 3rem;
}
.o-nama-h5{
    font-size: 19px;
    line-height: 30px;
}
.three-dots{
    font-size: 40px;
    color: #ff6d00;
}
.count-style{
    color: #ff6d00;
    font-size: 55px;
    font-weight: 500;
}
.ff-size{
    font-size: 26px;
    font-weight: bold;
}
.crca{
    width: 40%;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    margin: 10px auto;
}