@import '../../styles/variables';

.fa-kontakt{
    font-size: 35px;
    width: 40px;
    color: $yellow-kontex;
}
.radno-vreme{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.adresa{
    font-size: 18px;
    line-height: 25px;
}
