@import '../../styles/variables';

.link-hover{
    line-height: 80px;
    color: #444444;
}
.link-hover:hover{
    text-decoration: none;
    color: $yellow-kontex;
    .nav-hover{
        display: block;
        height: 4px;
        position: absolute;
        background-color: $yellow-kontex;
        width: 100%;
        top: -4px;
        right: 0px;
        left: 0px;
        transition-duration: 0.4s;
    }
}
.border-desni{
    border-right: 1px solid rgba(0,0,0,.05);
    padding-right: 1rem;
}
.stefan{
    background: linear-gradient(90deg, $white 50%, #fafaf8 50%);
}
.fa{
    color: #bbbbbb;
}
.a-color-hover{
    color: $yellow-kontex;
    white-space: nowrap;
    &:hover{
        color: $yellow-kontex;
    }
}
.activan{
    color: $yellow-kontex;
    .nav-hover{
        display: block;
        height: 4px;
        position: absolute;
        background-color: $yellow-kontex;
        width: 100%;
        top: -4px;
        right: 0px;
        left: 0px;
        transition-duration: 0.4s;
    }
  }
.position-container{
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
}
.background-header{
    background-size: cover;
    background-image: url('../../images/home_school-min.jpg');
    background-position: center top;
    width: 100%;
    height: calc(100% - 70px);
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    background-repeat: no-repeat;
}


.hamburger{
    display: block;
    position: absolute;
    height: 3px;
    width: 24px;
    background: $yellow-kontex;
    border-radius: 9px;
    opacity: 1;
    left: 7px
  }
  .hamburger:first-child{
    top: 10px;
  }
  .hamburger:nth-child(2){
    top: 18px;
  }
  .hamburger:nth-child(3){
    top: 26px;
  }
  .button-header-hamburger{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .button-header-hamburger:hover{
    opacity: 0.8;
  }

.imate-pitanja{
    font-size: 15px;
    color: #bbbbbb;
}
.nav-changed-position{
    margin: 0px;
    position: relative;
    z-index: 2;
}
.background-white-responsive{
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.fixed-top-new{
    .activan{
        .nav-hover{
            bottom: -4px;
            top: auto;
        }
    }
    .link-hover:hover{
        .nav-hover{
            bottom: -4px;
            top: auto;
        }
    }
}
.table-font{
    font-family: $table-font;
    font-size: 50px;
    color: $white;
}
.dashbord-p {
    font-size: 40px;
    padding-top: 40px;
}
.carousel-item {
    cursor: default;
}
@media ( min-width: 992px ) {
    .fixed-top-new{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    }
    .white-hover:hover{
        color: $white;
    }
}
@media ( max-width: 991px ) {
    .max-width-container{
        max-width: 100%;
        box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    .logo-responsive{
        width: 100%;
        text-align: center;
        padding: 10px 0px;
    }
    .imate-pitanja{
        display: none;
    }
    .background-white-responsive{
        background: $white;
        padding: 0.5rem;
    }
    .nav-changed-position{
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-collapse{
        .link-hover{
            line-height: 18px;
        }
        .border-desni{
            border-right: none;
        }
    }
    .navbar-expand-lg{
        width: 100%;
        text-align: center;
    }
}
@media ( max-width: 767px ) {
    .background-white-responsive{
        div{
            text-align: center;
        }
        .col-md-2 {
            a {
                display: none;
            }
        }
    }
    .table-font{
        font-size: 38px;
    }
    .dashbord-p {
        font-size: 35px;
    }
}

@media ( max-width: 575px ) {
    .background-white-responsive{
        background: $yellow-kontex;
        div{
            .a-color-hover {
                color: $white;
                display: block;
            }
            i {
                display: none;
            }
        }
    }
    .table-font{
        font-size: 30px;
        padding-right: 15px;
    }
    .dashbord-p {
        font-size: 30px;
    }
}
@media ( max-width: 374px ) { 
    .logo-responsive {
        text-align: left;
    }
    .table-font, .dashbord-p{
        font-size: 26px;
    }
}