@import '../../styles/variables';

@mixin threeBox ($image){
    background: url('../../images/section_#{$image}.png') no-repeat bottom center;
    background-size: cover;
    padding: 30px 30px 50px;
    color: $white;
}
.first-section{
    @include threeBox ('one');
}
.second-section{
    @include threeBox ('two');
}
.thirt-section{
    @include threeBox ('three');
}
.li-check:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: $yellow-kontex;
  }
.li-check{
      list-style: none;
}
.border-right-custom{
    border-right: 1px solid #dee2e6;
  }
@media only screen and  ( max-width: 767px ) {
    .border-right-custom{
        border-right: none;
    }
}